.DS_Store
.env
content/
__pycache__/
*.pyc
.langgraph_api/
.venv
uv.lock
workspace
05_Synthetic_Data_Generation_for_RAG_Evals/.idea/.gitignore
05_Synthetic_Data_Generation_for_RAG_Evals/.idea/05_Synthetic_Data_Generation_for_RAG_Evals.iml
05_Synthetic_Data_Generation_for_RAG_Evals/.idea/misc.xml
05_Synthetic_Data_Generation_for_RAG_Evals/.idea/modules.xml
05_Synthetic_Data_Generation_for_RAG_Evals/.idea/vcs.xml
05_Synthetic_Data_Generation_for_RAG_Evals/.idea/inspectionProfiles/profiles_settings.xml
